<section id="main-video-section" [ngStyle.xs]="{'height': '80vh'}">
	<div id="mid-screen" [ngStyle.xs]="{'padding': '40vh 0 0'}" *ngIf="loading || loadingError">
		<mat-spinner *ngIf="loading"></mat-spinner>

		<div class="loading-error" *ngIf="!loading && loadingError">
			<mat-icon [inline]="true">error</mat-icon>
			<label class="mat-title">Transmissão não disponível</label>
			<p class="mat-subheading-2">A transmissão não foi encontrada ou não está mais ao vivo.</p>
		</div>
	</div>

	<div id="mid-screen" [ngStyle.xs]="{'padding': '40vh 0 0'}" *ngIf="!loading && !loadingError && !getLiveOptions()">
		<mat-icon [inline]="true">settings</mat-icon>
		<h1 class="mat-title">Informe as configurações da transmissão</h1>
		<button mat-raised-button color="primary" (click)="openLiveOptionsModal()">Configurar</button>
	</div>

	<div *ngIf="!loading && !loadingError && getLiveOptions()" id="video-content"
		[ngStyle.xs]="{'height': '70vw', 'max-width': '90vw'}" [ngStyle.sm]="{'height': '60vw', 'max-width': '90vw'}"
		[ngStyle.md]="{'height': '50vw', 'max-width': '90vw'}" [ngStyle.lg]="{'height': '75vh'}">
		<div id="video-navbar" fxLayout="row" fxLayoutAlign="space-between center">
			<label><span class="mat-body-strong">{{ getLiveOptions().liveLanguage.name }}</span> para <span
					class="mat-body-strong">{{ getLiveOptions().liveToLanguage.name }}</span></label>
			<button mat-stroked-button (click)="openLiveOptionsModal()">Configurar</button>
		</div>

		<div id="player-content" style="width: 100%; height: 100%;">
			<youtube-player videoId="{{videoId}}" (ready)="onReady($event)" (stateChange)="onStateChange($event)"
				(error)="onError" (apiChange)="onApiChange()" (playbackQualityChange)="onPlaybackQualityChange()"
				(playbackRateChange)="onPlaybackRateChange()" [playerVars]="{fs: 0}">
			</youtube-player>

			<div id="captions-container" cdkDrag cdkDragBoundary="#main-video-section" title="Legendas"
				[ngStyle.xs]="{'width': '64vw', 'height': '4vh', 'top': '75vw', 'left': '11vh'}"
				[ngStyle.sm]="{'width': '68vw', 'height': '4vh', 'top': '63vw', 'left': '14vh'}"
				[ngStyle.md]="{'width': '40vw', 'height': '47vh', 'top': '47vw', 'left': '25vh'}"
				[ngStyle.lg]="{'width': '40vw', 'height': '5.3125rem', 'top': '70vh', 'left': '25vw'}">
				<span id="captions">{{ text }}</span>
			</div>
		</div>

		<div id="video-navbottom">
			<button mat-stroked-button (click)="enterFullScreen()" [disabled]="!isPlaying()" id="fullscreen">
				Fullscreen
			</button>
		</div>
	</div>
</section>