<section id="main-video-section" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg">
	<div id="mid-screen" *ngIf="loading || loadingError">
		<h1 *ngIf="loading" class="mat-title">Carregando a transmissão</h1>
		<mat-spinner *ngIf="loading" [diameter]="60"></mat-spinner>

		<div class="loading-error" *ngIf="loadingError">
			<mat-icon [inline]="true">error</mat-icon>
			<label class="mat-title">Transmissão não disponível</label>
			<p class="mat-subheading-2">A transmissão não foi encontrada ou não está mais ao vivo.</p>
		</div>
	</div>

	<div id="mid-screen" *ngIf="!loadingError && !getLiveOptions()">
		<mat-icon [inline]="true">settings</mat-icon>
		<h1 class="mat-title">Informe as configurações da transmissão</h1>
		<button mat-raised-button color="primary" (click)="openLiveOptionsModal()">Configurar</button>
	</div>

	<div id="video-content" *ngIf="!loadingError && getLiveOptions()">
		<div id="video-navbar" fxLayout="row" fxLayoutAlign="space-between center">
			<label>
				<span class="mat-body-strong">{{ getLiveOptions().liveLanguage.name }}</span>
				para
				<span class="mat-body-strong">{{ getLiveOptions().liveToLanguage.name }}</span>
			</label>
			<button mat-stroked-button (click)="openLiveOptionsModal()">Configurar</button>
		</div>

		<div id="player-content">
			<youtube-player videoId="{{ videoId }}" (ready)="onReady($event)" (stateChange)="onStateChange($event)"
				(error)="onError" (apiChange)="onApiChange()" (playbackQualityChange)="onPlaybackQualityChange()"
				(playbackRateChange)="onPlaybackRateChange()" [playerVars]="{ fs: 0 }">
			</youtube-player>

			<div id="captions-container" cdkDrag cdkDragBoundary="#main-video-section" title="Legendas">
				<span id="captions">{{ text }}</span>
			</div>
		</div>

		<div id="video-navbottom">
			<button mat-stroked-button (click)="enterFullScreen()" [disabled]="!isPlaying()" id="fullscreen">
				Fullscreen
			</button>
		</div>
	</div>
</section>