<tour-step-template></tour-step-template>

<section id="main-video-section" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg">
	<div id="mid-screen" *ngIf="loading || loadingError">
		<h1 *ngIf="loading" class="mat-title">{{ 'broadcast.loading' | translate }}</h1>
		<mat-spinner *ngIf="loading" [diameter]="60"></mat-spinner>

		<div class="loading-error" *ngIf="!loading && loadingError">
			<mat-icon [inline]="true">error</mat-icon>
			<label class="mat-title">{{ 'broadcast.notAvailable' | translate }}</label>
			<p class="mat-subheading-2">{{ 'broadcast.notAvailableDetails' | translate }}</p>
		</div>
	</div>

	<div id="mid-screen" *ngIf="!loading && !loadingError && !getLiveOptions()">
		<mat-icon [inline]="true">settings</mat-icon>
		<h1 class="mat-title">{{ 'broadcast.setConfig' | translate }}</h1>
		<button mat-raised-button color="primary" (click)="openLiveOptionsModal()">{{ 'broadcast.config' | translate }}</button>
	</div>

	<div id="video-content" *ngIf="!loading && !loadingError && getLiveOptions()">
		{{ tour() }}
		<div id="video-navbar" fxLayout="row" fxLayoutAlign="space-between center">
			<label>
				<span class="mat-body-strong">{{ getLiveOptions().liveLanguage.name }}</span>
				{{ 'to' | translate }}
				<span class="mat-body-strong">{{ getLiveOptions().liveToLanguage.name }}</span>
			</label>
			<button mat-stroked-button (click)="openLiveOptionsModal(true)" tourAnchor="settingsButton">{{ 'broadcast.config' | translate }}</button>
		</div>

		<div id="player-content">
			<youtube-player videoId="{{ videoId }}" (ready)="onReady($event)" (stateChange)="onVideoStateChange($event)" (error)="onVideoError" [playerVars]="{ fs: 0 }">
			</youtube-player>

			<app-captions boundaryElement="#main-video-section" [liveOptions]="getLiveOptions()"
				[startLiveEvent]="startLiveSubject.asObservable()" [stopLiveEvent]="stopLiveSubject.asObservable()"
				[videoIframe]="videoIframe" [backwardCaptionsEvent]="backwardCaptionsEvent.asObservable()"
				[forwardCaptionsEvent]="forwardCaptionsEvent.asObservable()"></app-captions>
		</div>

		<div id="video-navbottom">
			<div id="left">
				<button mat-stroked-button #backwardTooltip="matTooltip" matTooltip="{{ 'broadcast.captions.backwardConfirmation' | translate }}"
					matTooltipPosition="above" matTooltipDisabled="true" matTooltipHideDelay="99999" (click)="backwardCaptions(backwardTooltip)" [disabled]="!isPlaying()"
					tourAnchor="captionsMinusButton">
					<mat-icon>remove</mat-icon>
					{{ 'broadcast.captions.captionsLabel' | translate }}
				</button>
				<button mat-stroked-button #forwardTooltip="matTooltip" matTooltip="{{ 'broadcast.captions.forwardConfirmation' | translate }}"
					matTooltipPosition="above" matTooltipDisabled="true" matTooltipHideDelay="99999" (click)="forwardCaptions(forwardTooltip)" [disabled]="!isPlaying()"
					tourAnchor="captionsPlusButton">
					<mat-icon>add</mat-icon>
					{{ 'broadcast.captions.captionsLabel' | translate }}
				</button>
			</div>
			<button mat-stroked-button (click)="enterFullScreen()" tourAnchor="fullscreenButton" id="fullscreen-button">
				<mat-icon>fullscreen</mat-icon>
				<span fxHide.xs>Fullscreen</span>
			</button>
		</div>
	</div>
</section>