<h1 mat-dialog-title *ngIf="!loading && !loadingError">{{ 'broadcastOptions.title' | translate }}</h1>

<div mat-dialog-content>
	<mat-spinner *ngIf="loading" [diameter]="60"></mat-spinner>

	<div class="loading-error" *ngIf="!loading && loadingError">
		<mat-icon class="loading-error-icon" [inline]="true">error</mat-icon>
		<label>{{ 'broadcastOptions.failedToLoad' | translate }}</label>
	</div>

	<form [formGroup]="configForm" (submit)="submit()" *ngIf="!loading && !loadingError">
		<mat-form-field class="w-100" color="primary">
			<mat-label>{{ 'broadcastOptions.broadcastLanguage' | translate }}</mat-label>
			<mat-select formControlName="liveLanguage" #singleSelect cdkFocusInitial required>
				<mat-option>
					<ngx-mat-select-search formControlName="liveLanguageFilter" placeholderLabel="{{ 'broadcastOptions.languagePlaceholder' | translate }}"
						noEntriesFoundLabel="{{ 'broadcastOptions.languageNotFound' | translate }}"></ngx-mat-select-search>
				</mat-option>
				<mat-option
					*ngFor="let language of filteredTranscribeLanguages | async; trackBy: filteredTranscribeLanguagesTrackBy"
					[value]="language">
					{{ language.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="w-100" color="primary">
			<mat-label>{{ 'broadcastOptions.languageToTrans' | translate }}</mat-label>
			<mat-select formControlName="liveTranslation" #singleSelect required>
				<mat-option>
					<ngx-mat-select-search formControlName="liveTranslationFilter" placeholderLabel="{{ 'broadcastOptions.languagePlaceholder' | translate }}"
						noEntriesFoundLabel="{{ 'broadcastOptions.languageNotFound' | translate }}"></ngx-mat-select-search>
				</mat-option>
				<mat-option
					*ngFor="let language of filteredTranslationLanguages | async; trackBy: filteredTranslationLanguagesTrackBy"
					[value]="language">
					{{ language.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-checkbox color="primary" formControlName="profanityFilter">{{ 'broadcastOptions.profanityFilter' | translate }}</mat-checkbox>
		<mat-checkbox color="primary" formControlName="punctuation">{{ 'broadcastOptions.punctuation' | translate }}</mat-checkbox>
		<div mat-dialog-actions align="end" *ngIf="!loading && !loadingError">
			<button mat-button type="button" color="primary" mat-dialog-close>{{ 'cancel' | translate }}</button>
			<button mat-button type="submit" color="primary" [disabled]="configForm.invalid">{{ 'start' | translate }}</button>
		</div>
	</form>
</div>