#main-section {
	/* width: auto; */
	padding: 0 20%;
	/* padding-right: min(50px, 5%); */
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

#secundarySection {
	width: 100%;
	margin-bottom: 5rem;
}

.bottom-nav {
	border-top: 0 !important;
}