#search-field {
	width: 100%;
}

#search-field ::ng-deep .mat-form-field-infix {
	border-top: 0.1875rem solid transparent;
}

#search-field ::ng-deep .mat-form-field-suffix {
	top: 0.375rem !important;
}

.fixed-search {
	position: sticky;
	top: 0;
	z-index: 1;
}

.fixed-search .mat-form-field {
	background-color: white;
}

.info-centered {
	text-align: center;
	padding-top: 30vh;
}

.info-centered>label {
	display: block;
}

.info-centered .mat-icon {
	display: block;
	font-size: 5.625rem;
	height: 3.75rem;
}

.w-p-b ::ng-deep .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

.mat-progress-bar {
	margin-bottom: 1vh;
}