<div [ngClass]="{ 'fixed-search': lastSearch }">
	<div id="user-content" *ngIf="isSubscriptionsSearch && isAuthenticated()">
		<app-google-auth></app-google-auth>
	</div>
	<form [formGroup]="searchForm" (submit)="submit()">
		<mat-form-field id="search-field" class="w-p-b" appearance="outline" color="accent" hideRequiredMarker>
			<input matInput formControlName="search" placeholder="{{ searchPlaceholder | async }}" required
				maxlength="{{ SEARCH_FIELD_MAX_LENGTH }}">
			<button mat-button type="button" *ngIf="searchForm.get('search')?.value" matSuffix mat-icon-button
				aria-label="Limpar" (click)="clearSearch()">
				<mat-icon>close</mat-icon>
			</button>
			<button mat-button type="submit" [disabled]="searchForm.invalid" matSuffix mat-icon-button
				aria-label="Pesquisar">
				<mat-icon>search</mat-icon>
			</button>
		</mat-form-field>
		<div [class.invisible]="!loading">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
	</form>
</div>

<div class="info-centered" *ngIf="loadingError">
	<mat-icon [inline]="true">close</mat-icon>
	<label class="mat-subheading-2">{{ loadingError }}</label>
</div>

<div class="info-centered" *ngIf="!isSubscriptionsSearch && getVideos() && getVideos()!.length <= 0">
	<mat-icon [inline]="true">search_off</mat-icon>
	<label class="mat-title">{{ 'search.notFoundTitle' | translate }}</label>
	<label class="mat-subheading-2">{{ 'search.notFoundDesc' | translate }}</label>
</div>

<div class="info-centered" *ngIf="isSubscriptionsSearch && getVideos() && getVideos()!.length <= 0">
	<mat-icon [inline]="true">no_accounts</mat-icon>
	<label class="mat-title">{{ 'search.notFoundChannels' | translate }}</label>
</div>

<div *ngIf="getVideos() && getVideos()!.length > 0" @fadeAnimation>
	<div *ngFor="let video of getVideos(); trackBy: videosTrackBy">
		<app-youtube-video-card [video]="video"></app-youtube-video-card>
	</div>
</div>