#search-field {
	width: 100%;
}

::ng-deep .mat-form-field-infix {
	border-top: 0.1875rem solid transparent;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
	top: 0.375rem !important;
}

.fixed-search {
	position: sticky;
	top: 0;
	z-index: 1;
}

.fixed-search .mat-form-field {
	background-color: white;
}

.w-p-b ::ng-deep .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

.mat-progress-bar {
	margin-bottom: 1vh;
}