#captions-container {
	height: 5.3125rem;
	width: 40vw;
	overflow: hidden;
	cursor: grab;
	position: absolute;
	top: 65vh;
	left: 25vw;
	z-index: 99;
	border-radius: 0.3125rem;
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1), background-color 200ms ease-out;
}

#captions-container:hover, #captions-container.touranchor--is-active {
	background-color: #808080a8;
}

#captions-container:active {
	cursor: grabbing;
	background-color: gray;
	border: 2px solid black;
	box-shadow: 0 0.3125rem 0.3125rem -0.1875rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.14), 0 0.1875rem 0.875rem 0.125rem rgba(0, 0, 0, 0.12);
}

#captions-container.xs {
	height: 17vw;
	width: 90vw;
	left: 5vw;
	top: 60vh;
}

#captions-container.sm {
	width: 68vw;
	left: 15vw;
	top: 65vh;
}

#captions-container.md {
	width: 40vw;
	left: 25vh;
	top: 43vw;
}

.caption-visual-line {
	display: block;
}

.captions {
	background: rgba(8, 8, 8, 0.75);
	color: white;
	font-size: 1.25rem;
	padding-right: .25em;
}

.xs .captions {
	font-size: 0.9375rem;
	padding-top: 0.0938rem;
	padding-bottom: 0.0938rem;
}