html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet~* {
	position: absolute;
	height: 100%;
	width: 100%;
}

.invisible {
	visibility: hidden !important;
}

.main-snackbar {
	max-width: none !important;
}

.w-100 {
	width: 100%;
}

.config-live-dialog .mat-dialog-content {
	overflow-y: hidden !important;
}

.config-live-dialog mat-dialog-container {
	padding-bottom: 1.125rem !important;
}

.config-live-dialog .mat-checkbox {
	display: block;
}

.config-live-dialog .mat-dialog-actions {
	margin-bottom: -1.0625rem !important;
}

youtube-player iframe {
	width: 100%;
	height: 100%;
}

#container {
	max-width: 62.5rem;
	margin: 0 auto;
	padding-bottom: 3rem;
}

#container.xs {
	padding: 0 3% 3rem;
}

#container.sm {
	padding: 0 3% 3rem;
}

#container.md {
	padding: 0 10% 3rem;
}

#container.lg {
	padding: 0 20% 3rem;
}

.mat-card, .mat-form-field, label {
	-webkit-tap-highlight-color: transparent;
}