html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invisible {
	visibility: hidden !important;
}

.custom-snackbar {
	margin-bottom: 4.375rem !important;
}