#main-section {
	max-width: 62.5rem;
	margin: 0 auto;
}

#logo-title {
	text-align: center;
}

#home-content {
	transition: padding 500ms;
	padding-top: 35vh;
}

#home-content.fixed-search {
	padding-top: 2vh;
}