#main-section {
	padding: 0 20%;
}

#secundarySection {
	width: 100%;
	margin-bottom: 5rem;
}

#logo-title {
	text-align: center;
}

#home-content {
	transition: margin 500ms;
	margin-top: 35vh;
}

#home-content.fixed-search {
	margin-top: 2vh;
}