<section id="container" *ngIf="!videoId" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg">
	<div id="home-content" [ngClass]="{ 'fixed-search': getLastSearch() }">
		<div *ngIf="!getLastSearch()">
			<img src="../../assets/icons/icon-512x512.png" height="128" width="128" alt="logo">
			<h1 class="mat-display-1" id="logo-title">YouBorderless</h1>
			<p>{{ 'appDesc' | translate }}</p>
			<p id="app-desc2">{{ 'appDesc2' | translate }}</p>
		</div>
		<app-youtube-search-list></app-youtube-search-list>
	</div>
</section>

<router-outlet></router-outlet>