#main-section {
	max-width: 62.5rem;
	margin: 0 auto;
}

#home-content {
	transition: padding 500ms;
	padding-top: 25vh;
}

#app-info {
	text-align: center;
}

#home-content.fixed-search {
	padding-top: 2vh !important;
}

.xs #home-content {
	padding-top: 15vh;
}

#logo-title {
	margin: 0 0 1.875rem;
}

#app-desc2 {
	margin-bottom: 1.875rem;
}